.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: auto;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.logo img {
  max-width: 150px;
  max-height: 150px;
}

.navigation-meniu {
  width: 80%;
}

@media screen and (min-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-bottom: 0;
    width: 20%;
  }

  .logo img {
    max-width: 300px;
    max-height: 200px;
  }

  .navigation-meniu {
    width: 80%;
  }
}
