.all-classes-container,
.all-magic-container,
.all-elements-container {

}

.class-grid,
.magic-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.class-card {

}

.review-columns {
  display: flex;
  flex-wrap: wrap;
}

.review-column {
  width: calc(33.33% - 20px); /* Adjust the width as needed */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.review-column img {
  width: 100%;
  max-width: 150px; /* Adjust the image size as needed */
  height: auto;
  margin-bottom: 10px;
}

.review-buttons button {
  margin-right: 5px;
}


nav {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  margin-bottom: 10px;
}

a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  background-color: #333;
  color: #fff;
}

ul ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  display: none;
  z-index: 1;
}

li:hover > ul {
  display: block;
}

/* Mobile (320px) */
@media screen and (max-width: 320px) {
  .class-grid,
  .magic-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
}

/* Mobile (481px) */
@media screen and (min-width: 321px) and (max-width: 481px) {
  .class-grid,
  .magic-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
}

/* Tablet (768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .class-grid,
  .magic-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* Desktop (1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .class-grid,
  .magic-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

/* Desktop (768px) */
@media screen and (min-width: 768px) {
  .class-grid,
  .magic-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    margin-bottom: 0;
    margin-right: 20px;
  }

  a {
    border: none;
    background-color: transparent;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }

  a:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  ul ul {
    position: static;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }
}


